cat ~/.ssh/id_ed25519.pub
# hoặc
cat ~/.ssh/id_rsa.pub[Unit]
Description=DNS Service
After=network.target

[Service]
Type=simple
# Replace 'ubuntu' with the system user that should run the service
User=root
WorkingDirectory=/home/root/dns
# Ensure the virtualenv bin is on PATH
Environment=PATH=/home/root/dns/.venv/bin
ExecStart=/home/root/dns/.venv/bin/python /home/root/dns/main.py
Restart=always
RestartSec=10
StandardOutput=append:/var/log/dns/out.log
StandardError=append:/var/log/dns/err.log

[Install]
WantedBy=multi-user.target
